<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-biScopeComplaintInfo-edit" th:object="${biScopeComplaintInfo}">
            <input id="tid" name="tid" th:field="*{tid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">维权ID：</label>
				<div class="col-sm-8">
					<input id="id" name="id" th:field="*{id}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">维权创建日期：</label>
				<div class="col-sm-8">
					<input id="complaintCreatedDate" name="complaintCreatedDate" th:field="*{complaintCreatedDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否结束：</label>
				<div class="col-sm-8">
					<input id="done" name="done" th:field="*{done}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">层级编码：</label>
				<div class="col-sm-8">
					<input id="levelCode" name="levelCode" th:field="*{levelCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">人员组织ID：</label>
				<div class="col-sm-8">
					<input id="personId" name="personId" th:field="*{personId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户ID：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" th:field="*{userId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">班组ID：</label>
				<div class="col-sm-8">
					<input id="projectGroupId" name="projectGroupId" th:field="*{projectGroupId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">标段ID：</label>
				<div class="col-sm-8">
					<input id="projectUnitId" name="projectUnitId" th:field="*{projectUnitId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型ID：</label>
				<div class="col-sm-8">
					<input id="typeId" name="typeId" th:field="*{typeId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作状态：</label>
				<div class="col-sm-8">
					<input id="opStatus" name="opStatus" th:field="*{opStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作类型：</label>
				<div class="col-sm-8">
					<input id="opType" name="opType" th:field="*{opType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdTime" name="createdTime" th:field="*{createdTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updatedTime" name="updatedTime" th:field="*{updatedTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新人：</label>
				<div class="col-sm-8">
					<input id="updatedBy" name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/biScopeComplaintInfo";
		$("#form-biScopeComplaintInfo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-biScopeComplaintInfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
