<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-biScopeDeviceData-edit" th:object="${biScopeDeviceData}">
            <input id="tid" name="tid" th:field="*{tid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备ID：</label>
				<div class="col-sm-8">
					<input id="id" name="id" th:field="*{id}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">点位名称：</label>
				<div class="col-sm-8">
					<input id="addrName" name="addrName" th:field="*{addrName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">点位编号：</label>
				<div class="col-sm-8">
					<input id="addrNo" name="addrNo" th:field="*{addrNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备名称：</label>
				<div class="col-sm-8">
					<input id="deviceName" name="deviceName" th:field="*{deviceName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备型号：</label>
				<div class="col-sm-8">
					<input id="deviceModel" name="deviceModel" th:field="*{deviceModel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备类型：</label>
				<div class="col-sm-8">
					<input id="deviceType" name="deviceType" th:field="*{deviceType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备厂家：</label>
				<div class="col-sm-8">
					<input id="deviceManufactor" name="deviceManufactor" th:field="*{deviceManufactor}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备版本号：</label>
				<div class="col-sm-8">
					<input id="deviceVersion" name="deviceVersion" th:field="*{deviceVersion}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">购买日期：</label>
				<div class="col-sm-8">
					<input id="buyDate" name="buyDate" th:field="*{buyDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库日期：</label>
				<div class="col-sm-8">
					<input id="putDate" name="putDate" th:field="*{putDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">使用状态：</label>
				<div class="col-sm-8">
					<input id="useStatus" name="useStatus" th:field="*{useStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目ID：</label>
				<div class="col-sm-8">
					<input id="projectId" name="projectId" th:field="*{projectId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">标段ID：</label>
				<div class="col-sm-8">
					<input id="projectUnitId" name="projectUnitId" th:field="*{projectUnitId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">层级编码：</label>
				<div class="col-sm-8">
					<input id="levelCode" name="levelCode" th:field="*{levelCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">场景ID：</label>
				<div class="col-sm-8">
					<input id="sceneId" name="sceneId" th:field="*{sceneId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备状态：</label>
				<div class="col-sm-8">
					<input id="deviceStatus" name="deviceStatus" th:field="*{deviceStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作状态：</label>
				<div class="col-sm-8">
					<input id="opStatus" name="opStatus" th:field="*{opStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作类型：</label>
				<div class="col-sm-8">
					<input id="opType" name="opType" th:field="*{opType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdTime" name="createdTime" th:field="*{createdTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updatedTime" name="updatedTime" th:field="*{updatedTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新人：</label>
				<div class="col-sm-8">
					<input id="updatedBy" name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/biScopeDeviceData";
		$("#form-biScopeDeviceData-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-biScopeDeviceData-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
