<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-biScopeProperty-edit" th:object="${biScopeProperty}">
            <input id="propertyId" name="propertyId" th:field="*{propertyId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">所属范围名称：</label>
				<div class="col-sm-8">
					<input id="scopeName" name="scopeName" th:field="*{scopeName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">属性名称：</label>
				<div class="col-sm-8">
					<input id="propertyName" name="propertyName" th:field="*{propertyName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">属性名称描述：</label>
				<div class="col-sm-8">
					<input id="propertyNameDesc" name="propertyNameDesc" th:field="*{propertyNameDesc}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">属性类型：</label>
				<div class="col-sm-8">
					<input id="propertyType" name="propertyType" th:field="*{propertyType}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/biScopeProperty";
		$("#form-biScopeProperty-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-biScopeProperty-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
