<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.biScopeSafeEvent.mapper.BiScopeSafeEventMapper">
    
    <resultMap type="BiScopeSafeEvent" id="BiScopeSafeEventResult">
        <result property="tid"    column="tid"    />
        <result property="id"    column="id"    />
        <result property="eventName"    column="event_name"    />
        <result property="eventCreatedDate"    column="event_created_date"    />
        <result property="content"    column="content"    />
        <result property="checkerId"    column="checker_id"    />
        <result property="userId"    column="user_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="levelCode"    column="level_code"    />
        <result property="projectUnitId"    column="project_unit_id"    />
        <result property="type"    column="type"    />
        <result property="critical"    column="critical"    />
        <result property="opStatus"    column="op_status"    />
        <result property="opType"    column="op_type"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>
	
	<sql id="selectBiScopeSafeEventVo">
        select tid, id, event_name, event_created_date, content, checker_id, user_id, item_id, level_code, project_unit_id, type, critical, op_status, op_type, created_time, created_by, updated_time, updated_by from bi_scope_safe_event
    </sql>
	
    <select id="selectBiScopeSafeEventList" parameterType="BiScopeSafeEvent" resultMap="BiScopeSafeEventResult">
        <include refid="selectBiScopeSafeEventVo"/>
        <where>  
            <if test="tid != null "> and tid = #{tid}</if>
             <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="eventName != null  and eventName != '' "> and event_name = #{eventName}</if>
             <if test="eventCreatedDate != null "> and event_created_date = #{eventCreatedDate}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="checkerId != null  and checkerId != '' "> and checker_id = #{checkerId}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="itemId != null  and itemId != '' "> and item_id = #{itemId}</if>
             <if test="levelCode != null  and levelCode != '' "> and level_code = #{levelCode}</if>
             <if test="projectUnitId != null  and projectUnitId != '' "> and project_unit_id = #{projectUnitId}</if>
             <if test="type != null  and type != '' "> and type = #{type}</if>
             <if test="critical != null "> and critical = #{critical}</if>
             <if test="opStatus != null  and opStatus != '' "> and op_status = #{opStatus}</if>
             <if test="opType != null  and opType != '' "> and op_type = #{opType}</if>
             <if test="createdTime != null "> and created_time = #{createdTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="updatedBy != null  and updatedBy != '' "> and updated_by = #{updatedBy}</if>
         </where>
    </select>
    
    <select id="selectBiScopeSafeEventById" parameterType="Integer" resultMap="BiScopeSafeEventResult">
        <include refid="selectBiScopeSafeEventVo"/>
        where tid = #{tid}
    </select>
        
    <insert id="insertBiScopeSafeEvent" parameterType="BiScopeSafeEvent" useGeneratedKeys="true" keyProperty="tid">
        insert into bi_scope_safe_event
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="eventName != null  and eventName != ''  ">event_name,</if>
			<if test="eventCreatedDate != null  ">event_created_date,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="checkerId != null  and checkerId != ''  ">checker_id,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="itemId != null  and itemId != ''  ">item_id,</if>
			<if test="levelCode != null  and levelCode != ''  ">level_code,</if>
			<if test="projectUnitId != null  and projectUnitId != ''  ">project_unit_id,</if>
			<if test="type != null  and type != ''  ">type,</if>
			<if test="critical != null  ">critical,</if>
			<if test="opStatus != null  and opStatus != ''  ">op_status,</if>
			<if test="opType != null  and opType != ''  ">op_type,</if>
			<if test="createdTime != null  ">created_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="updatedBy != null  and updatedBy != ''  ">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="eventName != null  and eventName != ''  ">#{eventName},</if>
			<if test="eventCreatedDate != null  ">#{eventCreatedDate},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="checkerId != null  and checkerId != ''  ">#{checkerId},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="itemId != null  and itemId != ''  ">#{itemId},</if>
			<if test="levelCode != null  and levelCode != ''  ">#{levelCode},</if>
			<if test="projectUnitId != null  and projectUnitId != ''  ">#{projectUnitId},</if>
			<if test="type != null  and type != ''  ">#{type},</if>
			<if test="critical != null  ">#{critical},</if>
			<if test="opStatus != null  and opStatus != ''  ">#{opStatus},</if>
			<if test="opType != null  and opType != ''  ">#{opType},</if>
			<if test="createdTime != null  ">#{createdTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="updatedBy != null  and updatedBy != ''  ">#{updatedBy},</if>
         </trim>
    </insert>
	 
    <update id="updateBiScopeSafeEvent" parameterType="BiScopeSafeEvent">
        update bi_scope_safe_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id = #{id},</if>
            <if test="eventName != null  and eventName != ''  ">event_name = #{eventName},</if>
            <if test="eventCreatedDate != null  ">event_created_date = #{eventCreatedDate},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="checkerId != null  and checkerId != ''  ">checker_id = #{checkerId},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="itemId != null  and itemId != ''  ">item_id = #{itemId},</if>
            <if test="levelCode != null  and levelCode != ''  ">level_code = #{levelCode},</if>
            <if test="projectUnitId != null  and projectUnitId != ''  ">project_unit_id = #{projectUnitId},</if>
            <if test="type != null  and type != ''  ">type = #{type},</if>
            <if test="critical != null  ">critical = #{critical},</if>
            <if test="opStatus != null  and opStatus != ''  ">op_status = #{opStatus},</if>
            <if test="opType != null  and opType != ''  ">op_type = #{opType},</if>
            <if test="createdTime != null  ">created_time = #{createdTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="updatedBy != null  and updatedBy != ''  ">updated_by = #{updatedBy},</if>
        </trim>
        where tid = #{tid}
    </update>

	<delete id="deleteBiScopeSafeEventById" parameterType="Integer">
        delete from bi_scope_safe_event where tid = #{tid}
    </delete>
	
    <delete id="deleteBiScopeSafeEventByIds" parameterType="String">
        delete from bi_scope_safe_event where tid in 
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

    <update id="updateBiScopeSafeEventReadyToDeal" parameterType="Map">
        update bi_scope_safe_event set op_status=3,updated_by=#{host},updated_time=now() where op_status=1 limit 100
    </update>

    <update id="updateBiScopeSafeEventToFailed" parameterType="Map">
        update bi_scope_safe_event set op_status=9,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <update id="updateBiScopeSafeEventToComplate" parameterType="Map">
        update bi_scope_safe_event set op_status=2,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <select id="selectBiScopeSafeEventReadToDeal" parameterType="Map" resultType="com.ruoyi.project.system.biScopeSafeEvent.vo.BiScopeSafeEventVO">
        select
         tid, id, event_name eventName, event_created_date eventCreatedDate, content, checker_id checkerId, user_id userId, item_id itemId, level_code levelCode, project_unit_id projectUnitId, `type`, critical, op_status opStatus, op_type opType,
         created_time createdTime, created_by createdBy, updated_time updatedTime, updated_by updatedBy
         from bi_scope_safe_event where op_status=3 and updated_by=#{host} limit 100
    </select>

    
</mapper>