<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.biScopeRootProjectData.mapper.BiScopeRootProjectDataMapper">
    
    <resultMap type="BiScopeRootProjectData" id="BiScopeRootProjectDataResult">
        <result property="tid"    column="tid"    />
        <result property="id"    column="id"    />
        <result property="abbrName"    column="abbr_name"    />
        <result property="createDate"    column="create_date"    />
        <result property="createUser"    column="create_user"    />
        <result property="name"    column="name"    />
        <result property="opStatus"    column="op_status"    />
        <result property="opType"    column="op_type"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>
	
	<sql id="selectBiScopeRootProjectDataVo">
        select tid, id, abbr_name, create_date, create_user, name, op_status, op_type, created_time, created_by, updated_time, updated_by from bi_scope_root_project_data
    </sql>
	
    <select id="selectBiScopeRootProjectDataList" parameterType="BiScopeRootProjectData" resultMap="BiScopeRootProjectDataResult">
        <include refid="selectBiScopeRootProjectDataVo"/>
        <where>  
            <if test="tid != null "> and tid = #{tid}</if>
             <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="abbrName != null  and abbrName != '' "> and abbr_name = #{abbrName}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="createUser != null  and createUser != '' "> and create_user = #{createUser}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="opStatus != null  and opStatus != '' "> and op_status = #{opStatus}</if>
             <if test="opType != null  and opType != '' "> and op_type = #{opType}</if>
             <if test="createdTime != null "> and created_time = #{createdTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="updatedBy != null  and updatedBy != '' "> and updated_by = #{updatedBy}</if>
         </where>
    </select>
    
    <select id="selectBiScopeRootProjectDataById" parameterType="Integer" resultMap="BiScopeRootProjectDataResult">
        <include refid="selectBiScopeRootProjectDataVo"/>
        where tid = #{tid}
    </select>
        
    <insert id="insertBiScopeRootProjectData" parameterType="BiScopeRootProjectData" useGeneratedKeys="true" keyProperty="tid">
        insert into bi_scope_root_project_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="abbrName != null  and abbrName != ''  ">abbr_name,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="createUser != null  and createUser != ''  ">create_user,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="opStatus != null  and opStatus != ''  ">op_status,</if>
			<if test="opType != null  and opType != ''  ">op_type,</if>
			<if test="createdTime != null  ">created_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="updatedBy != null  and updatedBy != ''  ">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="abbrName != null  and abbrName != ''  ">#{abbrName},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="createUser != null  and createUser != ''  ">#{createUser},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="opStatus != null  and opStatus != ''  ">#{opStatus},</if>
			<if test="opType != null  and opType != ''  ">#{opType},</if>
			<if test="createdTime != null  ">#{createdTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="updatedBy != null  and updatedBy != ''  ">#{updatedBy},</if>
         </trim>
    </insert>
	 
    <update id="updateBiScopeRootProjectData" parameterType="BiScopeRootProjectData">
        update bi_scope_root_project_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id = #{id},</if>
            <if test="abbrName != null  and abbrName != ''  ">abbr_name = #{abbrName},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="createUser != null  and createUser != ''  ">create_user = #{createUser},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="opStatus != null  and opStatus != ''  ">op_status = #{opStatus},</if>
            <if test="opType != null  and opType != ''  ">op_type = #{opType},</if>
            <if test="createdTime != null  ">created_time = #{createdTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="updatedBy != null  and updatedBy != ''  ">updated_by = #{updatedBy},</if>
        </trim>
        where tid = #{tid}
    </update>

	<delete id="deleteBiScopeRootProjectDataById" parameterType="Integer">
        delete from bi_scope_root_project_data where tid = #{tid}
    </delete>
	
    <delete id="deleteBiScopeRootProjectDataByIds" parameterType="String">
        delete from bi_scope_root_project_data where tid in 
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>


    <update id="updateBiScopeRootProjectDataReadyToDeal" parameterType="Map">
        update bi_scope_root_project_data set op_status=3,updated_by=#{host},updated_time=now() where op_status=1 limit 100
    </update>



    <update id="updateBiScopeRootProjectDataToFailed" parameterType="Map">
        update bi_scope_root_project_data set op_status=9,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <update id="updateBiScopeRootProjectDataToComplate" parameterType="Map">
        update bi_scope_root_project_data set op_status=2,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>


    <select id="selectBiScopeRootProjectDataReadToDeal" parameterType="Map" resultType="com.ruoyi.project.system.biScopeRootProjectData.vo.BiScopeRootProjectDataVO">
        select
          tid, id, abbr_name abbrName, create_date createDate,create_user createUser, name, op_status opStatus, op_type opType, created_time createdTime, created_by createdBy, updated_time updatedTime, updated_by updatedBy
         from bi_scope_root_project_data where op_status=3 and updated_by=#{host} limit 100
    </select>
    
</mapper>