<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.biScopeSalaryInfo.mapper.BiScopeSalaryInfoMapper">
    
    <resultMap type="BiScopeSalaryInfo" id="BiScopeSalaryInfoResult">
        <result property="tid"    column="tid"    />
        <result property="id"    column="id"    />
        <result property="allMoney"    column="all_money"    />
        <result property="realMoney"    column="real_money"    />
        <result property="percent"    column="percent"    />
        <result property="fireDate"    column="fire_date"    />
        <result property="fired"    column="fired"    />
        <result property="attendCount"    column="attend_count"    />
        <result property="levelCode"    column="level_code"    />
        <result property="month"    column="month"    />
        <result property="personId"    column="person_id"    />
        <result property="userId"    column="user_id"    />
        <result property="projectGroupId"    column="project_group_id"    />
        <result property="projectUnitId"    column="project_unit_id"    />
        <result property="satisfaction"    column="satisfaction"    />
        <result property="feedbackDate"    column="feedback_date"    />
        <result property="status"    column="status"    />
        <result property="opStatus"    column="op_status"    />
        <result property="opType"    column="op_type"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>
	
	<sql id="selectBiScopeSalaryInfoVo">
        select tid, id, all_money, real_money, percent, fire_date, fired, attend_count, level_code, month, person_id, user_id, project_group_id, project_unit_id, satisfaction, feedback_date, status, op_status, op_type, created_time, created_by, updated_time, updated_by from bi_scope_salary_info
    </sql>
	
    <select id="selectBiScopeSalaryInfoList" parameterType="BiScopeSalaryInfo" resultMap="BiScopeSalaryInfoResult">
        <include refid="selectBiScopeSalaryInfoVo"/>
        <where>  
            <if test="tid != null "> and tid = #{tid}</if>
             <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="allMoney != null "> and all_money = #{allMoney}</if>
             <if test="realMoney != null "> and real_money = #{realMoney}</if>
             <if test="percent != null "> and percent = #{percent}</if>
             <if test="fireDate != null "> and fire_date = #{fireDate}</if>
             <if test="fired != null "> and fired = #{fired}</if>
             <if test="attendCount != null "> and attend_count = #{attendCount}</if>
             <if test="levelCode != null  and levelCode != '' "> and level_code = #{levelCode}</if>
             <if test="month != null  and month != '' "> and month = #{month}</if>
             <if test="personId != null  and personId != '' "> and person_id = #{personId}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="projectGroupId != null  and projectGroupId != '' "> and project_group_id = #{projectGroupId}</if>
             <if test="projectUnitId != null  and projectUnitId != '' "> and project_unit_id = #{projectUnitId}</if>
             <if test="satisfaction != null "> and satisfaction = #{satisfaction}</if>
             <if test="feedbackDate != null "> and feedback_date = #{feedbackDate}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="opStatus != null  and opStatus != '' "> and op_status = #{opStatus}</if>
             <if test="opType != null  and opType != '' "> and op_type = #{opType}</if>
             <if test="createdTime != null "> and created_time = #{createdTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="updatedBy != null  and updatedBy != '' "> and updated_by = #{updatedBy}</if>
         </where>
    </select>
    
    <select id="selectBiScopeSalaryInfoById" parameterType="Integer" resultMap="BiScopeSalaryInfoResult">
        <include refid="selectBiScopeSalaryInfoVo"/>
        where tid = #{tid}
    </select>
        
    <insert id="insertBiScopeSalaryInfo" parameterType="BiScopeSalaryInfo" useGeneratedKeys="true" keyProperty="tid">
        insert into bi_scope_salary_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="allMoney != null  ">all_money,</if>
			<if test="realMoney != null  ">real_money,</if>
			<if test="percent != null  ">percent,</if>
			<if test="fireDate != null  ">fire_date,</if>
			<if test="fired != null  ">fired,</if>
			<if test="attendCount != null  ">attend_count,</if>
			<if test="levelCode != null  and levelCode != ''  ">level_code,</if>
			<if test="month != null  and month != ''  ">month,</if>
			<if test="personId != null  and personId != ''  ">person_id,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="projectGroupId != null  and projectGroupId != ''  ">project_group_id,</if>
			<if test="projectUnitId != null  and projectUnitId != ''  ">project_unit_id,</if>
			<if test="satisfaction != null  ">satisfaction,</if>
			<if test="feedbackDate != null  ">feedback_date,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="opStatus != null  and opStatus != ''  ">op_status,</if>
			<if test="opType != null  and opType != ''  ">op_type,</if>
			<if test="createdTime != null  ">created_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="updatedBy != null  and updatedBy != ''  ">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="allMoney != null  ">#{allMoney},</if>
			<if test="realMoney != null  ">#{realMoney},</if>
			<if test="percent != null  ">#{percent},</if>
			<if test="fireDate != null  ">#{fireDate},</if>
			<if test="fired != null  ">#{fired},</if>
			<if test="attendCount != null  ">#{attendCount},</if>
			<if test="levelCode != null  and levelCode != ''  ">#{levelCode},</if>
			<if test="month != null  and month != ''  ">#{month},</if>
			<if test="personId != null  and personId != ''  ">#{personId},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="projectGroupId != null  and projectGroupId != ''  ">#{projectGroupId},</if>
			<if test="projectUnitId != null  and projectUnitId != ''  ">#{projectUnitId},</if>
			<if test="satisfaction != null  ">#{satisfaction},</if>
			<if test="feedbackDate != null  ">#{feedbackDate},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="opStatus != null  and opStatus != ''  ">#{opStatus},</if>
			<if test="opType != null  and opType != ''  ">#{opType},</if>
			<if test="createdTime != null  ">#{createdTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="updatedBy != null  and updatedBy != ''  ">#{updatedBy},</if>
         </trim>
    </insert>
	 
    <update id="updateBiScopeSalaryInfo" parameterType="BiScopeSalaryInfo">
        update bi_scope_salary_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id = #{id},</if>
            <if test="allMoney != null  ">all_money = #{allMoney},</if>
            <if test="realMoney != null  ">real_money = #{realMoney},</if>
            <if test="percent != null  ">percent = #{percent},</if>
            <if test="fireDate != null  ">fire_date = #{fireDate},</if>
            <if test="fired != null  ">fired = #{fired},</if>
            <if test="attendCount != null  ">attend_count = #{attendCount},</if>
            <if test="levelCode != null  and levelCode != ''  ">level_code = #{levelCode},</if>
            <if test="month != null  and month != ''  ">month = #{month},</if>
            <if test="personId != null  and personId != ''  ">person_id = #{personId},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="projectGroupId != null  and projectGroupId != ''  ">project_group_id = #{projectGroupId},</if>
            <if test="projectUnitId != null  and projectUnitId != ''  ">project_unit_id = #{projectUnitId},</if>
            <if test="satisfaction != null  ">satisfaction = #{satisfaction},</if>
            <if test="feedbackDate != null  ">feedback_date = #{feedbackDate},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="opStatus != null  and opStatus != ''  ">op_status = #{opStatus},</if>
            <if test="opType != null  and opType != ''  ">op_type = #{opType},</if>
            <if test="createdTime != null  ">created_time = #{createdTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="updatedBy != null  and updatedBy != ''  ">updated_by = #{updatedBy},</if>
        </trim>
        where tid = #{tid}
    </update>

	<delete id="deleteBiScopeSalaryInfoById" parameterType="Integer">
        delete from bi_scope_salary_info where tid = #{tid}
    </delete>
	
    <delete id="deleteBiScopeSalaryInfoByIds" parameterType="String">
        delete from bi_scope_salary_info where tid in 
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>



    <update id="updateBiScopeSalaryInfoReadyToDeal" parameterType="Map">
        update bi_scope_salary_info set op_status=3,updated_by=#{host},updated_time=now() where op_status=1 limit 100
    </update>

    <update id="updateBiScopeSalaryInfoToFailed" parameterType="Map">
        update bi_scope_salary_info set op_status=9,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <update id="updateBiScopeSalaryInfoToComplate" parameterType="Map">
        update bi_scope_salary_info set op_status=2,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <select id="selectBiScopeSalaryInfoReadToDeal" parameterType="Map" resultType="com.ruoyi.project.system.biScopeSalaryInfo.vo.BiScopeSalaryInfoVO">
        select tid, id, all_money allMoney, real_money realMoney, percent, fire_date fireDate, fired, attend_count attendCount, level_code levelCode, month, person_id personId, user_id userId, project_group_id projectGroupId, project_unit_id projectUnitId, satisfaction, feedback_date feedbackDate, status, op_status opStatus, op_type opType, created_time createdTime, created_by createdBy, updated_time updatedTime, updated_by updatedBy
        from bi_scope_salary_info where op_status=3 and updated_by=#{host} limit 100
    </select>
    
</mapper>