<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.biScopeWorkerData.mapper.BiScopeWorkerDataMapper">
    
    <resultMap type="BiScopeWorkerData" id="BiScopeWorkerDataResult">
        <result property="tid"    column="tid"    />
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="mobile"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="projectSectionId"    column="project_section_id"    />
        <result property="levelCode"    column="level_code"    />
        <result property="ownerType"    column="owner_type"    />
        <result property="realStatus"    column="real_status"    />
        <result property="realDate"    column="real_date"    />
        <result property="workStatus"    column="work_status"    />
        <result property="workTypeId"    column="work_type_id"    />
        <result property="workTypeName"    column="work_type_name"    />
        <result property="workCreateDate"    column="work_create_date"    />
        <result property="enterTrain"    column="enter_train"    />
        <result property="lastSafetyDate"    column="last_safety_date"    />
        <result property="safetyCount"    column="safety_count"    />
        <result property="safetyScore"    column="safety_score"    />
        <result property="techniqueTrain"    column="technique_train"    />
        <result property="entranceCardId"    column="entrance_card_id"    />
        <result property="projectGroupId"    column="project_group_id"    />
        <result property="opStatus"    column="op_status"    />
        <result property="opType"    column="op_type"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>
	
	<sql id="selectBiScopeWorkerDataVo">
        select tid, id, user_id, username, number, mobile, owner_id, project_section_id, level_code, owner_type, real_status, real_date, work_status, work_type_id, work_type_name, work_create_date, enter_train, last_safety_date, safety_count, safety_score, technique_train, entrance_card_id, project_group_id, op_status, op_type, created_time, created_by, updated_time, updated_by from bi_scope_worker_data
    </sql>
	
    <select id="selectBiScopeWorkerDataList" parameterType="BiScopeWorkerData" resultMap="BiScopeWorkerDataResult">
        <include refid="selectBiScopeWorkerDataVo"/>
        <where>  
            <if test="tid != null "> and tid = #{tid}</if>
             <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="username != null  and username != '' "> and username = #{username}</if>
             <if test="number != null  and number != '' "> and number = #{number}</if>
             <if test="mobile != null  and mobile != '' "> and mobile = #{mobile}</if>
             <if test="ownerId != null  and ownerId != '' "> and owner_id = #{ownerId}</if>
             <if test="projectSectionId != null  and projectSectionId != '' "> and project_section_id = #{projectSectionId}</if>
             <if test="levelCode != null  and levelCode != '' "> and level_code = #{levelCode}</if>
             <if test="ownerType != null  and ownerType != '' "> and owner_type = #{ownerType}</if>
             <if test="realStatus != null  and realStatus != '' "> and real_status = #{realStatus}</if>
             <if test="realDate != null "> and real_date = #{realDate}</if>
             <if test="workStatus != null  and workStatus != '' "> and work_status = #{workStatus}</if>
             <if test="workTypeId != null  and workTypeId != '' "> and work_type_id = #{workTypeId}</if>
             <if test="workTypeName != null  and workTypeName != '' "> and work_type_name = #{workTypeName}</if>
             <if test="workCreateDate != null "> and work_create_date = #{workCreateDate}</if>
             <if test="enterTrain != null  and enterTrain != '' "> and enter_train = #{enterTrain}</if>
             <if test="lastSafetyDate != null "> and last_safety_date = #{lastSafetyDate}</if>
             <if test="safetyCount != null "> and safety_count = #{safetyCount}</if>
             <if test="safetyScore != null "> and safety_score = #{safetyScore}</if>
             <if test="techniqueTrain != null  and techniqueTrain != '' "> and technique_train = #{techniqueTrain}</if>
             <if test="entranceCardId != null  and entranceCardId != '' "> and entrance_card_id = #{entranceCardId}</if>
             <if test="projectGroupId != null  and projectGroupId != '' "> and project_group_id = #{projectGroupId}</if>
             <if test="opStatus != null  and opStatus != '' "> and op_status = #{opStatus}</if>
             <if test="opType != null  and opType != '' "> and op_type = #{opType}</if>
             <if test="createdTime != null "> and created_time = #{createdTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="updatedBy != null  and updatedBy != '' "> and updated_by = #{updatedBy}</if>
         </where>
    </select>
    
    <select id="selectBiScopeWorkerDataById" parameterType="Integer" resultMap="BiScopeWorkerDataResult">
        <include refid="selectBiScopeWorkerDataVo"/>
        where tid = #{tid}
    </select>
        
    <insert id="insertBiScopeWorkerData" parameterType="BiScopeWorkerData" useGeneratedKeys="true" keyProperty="tid">
        insert into bi_scope_worker_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="username != null  and username != ''  ">username,</if>
			<if test="number != null  and number != ''  ">number,</if>
			<if test="mobile != null  and mobile != ''  ">mobile,</if>
			<if test="ownerId != null  and ownerId != ''  ">owner_id,</if>
			<if test="projectSectionId != null  and projectSectionId != ''  ">project_section_id,</if>
			<if test="levelCode != null  and levelCode != ''  ">level_code,</if>
			<if test="ownerType != null  and ownerType != ''  ">owner_type,</if>
			<if test="realStatus != null  and realStatus != ''  ">real_status,</if>
			<if test="realDate != null  ">real_date,</if>
			<if test="workStatus != null  and workStatus != ''  ">work_status,</if>
			<if test="workTypeId != null  and workTypeId != ''  ">work_type_id,</if>
			<if test="workTypeName != null  and workTypeName != ''  ">work_type_name,</if>
			<if test="workCreateDate != null  ">work_create_date,</if>
			<if test="enterTrain != null  and enterTrain != ''  ">enter_train,</if>
			<if test="lastSafetyDate != null  ">last_safety_date,</if>
			<if test="safetyCount != null  ">safety_count,</if>
			<if test="safetyScore != null  ">safety_score,</if>
			<if test="techniqueTrain != null  and techniqueTrain != ''  ">technique_train,</if>
			<if test="entranceCardId != null  and entranceCardId != ''  ">entrance_card_id,</if>
			<if test="projectGroupId != null  and projectGroupId != ''  ">project_group_id,</if>
			<if test="opStatus != null  and opStatus != ''  ">op_status,</if>
			<if test="opType != null  and opType != ''  ">op_type,</if>
			<if test="createdTime != null  ">created_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="updatedBy != null  and updatedBy != ''  ">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="username != null  and username != ''  ">#{username},</if>
			<if test="number != null  and number != ''  ">#{number},</if>
			<if test="mobile != null  and mobile != ''  ">#{mobile},</if>
			<if test="ownerId != null  and ownerId != ''  ">#{ownerId},</if>
			<if test="projectSectionId != null  and projectSectionId != ''  ">#{projectSectionId},</if>
			<if test="levelCode != null  and levelCode != ''  ">#{levelCode},</if>
			<if test="ownerType != null  and ownerType != ''  ">#{ownerType},</if>
			<if test="realStatus != null  and realStatus != ''  ">#{realStatus},</if>
			<if test="realDate != null  ">#{realDate},</if>
			<if test="workStatus != null  and workStatus != ''  ">#{workStatus},</if>
			<if test="workTypeId != null  and workTypeId != ''  ">#{workTypeId},</if>
			<if test="workTypeName != null  and workTypeName != ''  ">#{workTypeName},</if>
			<if test="workCreateDate != null  ">#{workCreateDate},</if>
			<if test="enterTrain != null  and enterTrain != ''  ">#{enterTrain},</if>
			<if test="lastSafetyDate != null  ">#{lastSafetyDate},</if>
			<if test="safetyCount != null  ">#{safetyCount},</if>
			<if test="safetyScore != null  ">#{safetyScore},</if>
			<if test="techniqueTrain != null  and techniqueTrain != ''  ">#{techniqueTrain},</if>
			<if test="entranceCardId != null  and entranceCardId != ''  ">#{entranceCardId},</if>
			<if test="projectGroupId != null  and projectGroupId != ''  ">#{projectGroupId},</if>
			<if test="opStatus != null  and opStatus != ''  ">#{opStatus},</if>
			<if test="opType != null  and opType != ''  ">#{opType},</if>
			<if test="createdTime != null  ">#{createdTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="updatedBy != null  and updatedBy != ''  ">#{updatedBy},</if>
         </trim>
    </insert>
	 
    <update id="updateBiScopeWorkerData" parameterType="BiScopeWorkerData">
        update bi_scope_worker_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id = #{id},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="username != null  and username != ''  ">username = #{username},</if>
            <if test="number != null  and number != ''  ">number = #{number},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="ownerId != null  and ownerId != ''  ">owner_id = #{ownerId},</if>
            <if test="projectSectionId != null  and projectSectionId != ''  ">project_section_id = #{projectSectionId},</if>
            <if test="levelCode != null  and levelCode != ''  ">level_code = #{levelCode},</if>
            <if test="ownerType != null  and ownerType != ''  ">owner_type = #{ownerType},</if>
            <if test="realStatus != null  and realStatus != ''  ">real_status = #{realStatus},</if>
            <if test="realDate != null  ">real_date = #{realDate},</if>
            <if test="workStatus != null  and workStatus != ''  ">work_status = #{workStatus},</if>
            <if test="workTypeId != null  and workTypeId != ''  ">work_type_id = #{workTypeId},</if>
            <if test="workTypeName != null  and workTypeName != ''  ">work_type_name = #{workTypeName},</if>
            <if test="workCreateDate != null  ">work_create_date = #{workCreateDate},</if>
            <if test="enterTrain != null  and enterTrain != ''  ">enter_train = #{enterTrain},</if>
            <if test="lastSafetyDate != null  ">last_safety_date = #{lastSafetyDate},</if>
            <if test="safetyCount != null  ">safety_count = #{safetyCount},</if>
            <if test="safetyScore != null  ">safety_score = #{safetyScore},</if>
            <if test="techniqueTrain != null  and techniqueTrain != ''  ">technique_train = #{techniqueTrain},</if>
            <if test="entranceCardId != null  and entranceCardId != ''  ">entrance_card_id = #{entranceCardId},</if>
            <if test="projectGroupId != null  and projectGroupId != ''  ">project_group_id = #{projectGroupId},</if>
            <if test="opStatus != null  and opStatus != ''  ">op_status = #{opStatus},</if>
            <if test="opType != null  and opType != ''  ">op_type = #{opType},</if>
            <if test="createdTime != null  ">created_time = #{createdTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="updatedBy != null  and updatedBy != ''  ">updated_by = #{updatedBy},</if>
        </trim>
        where tid = #{tid}
    </update>

	<delete id="deleteBiScopeWorkerDataById" parameterType="Integer">
        delete from bi_scope_worker_data where tid = #{tid}
    </delete>
	
    <delete id="deleteBiScopeWorkerDataByIds" parameterType="String">
        delete from bi_scope_worker_data where tid in 
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>



    <update id="updateBiScopeWorkerDataReadyToDeal" parameterType="Map">
        update bi_scope_worker_data set op_status=3,updated_by=#{host},updated_time=now() where op_status=1 limit 100
    </update>



    <update id="updateBiScopeWorkerDataToFailed" parameterType="Map">
        update bi_scope_worker_data set op_status=9,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <update id="updateBiScopeWorkerDataToComplate" parameterType="Map">
        update bi_scope_worker_data set op_status=2,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>


    <select id="selectBiScopeWorkerDataReadToDeal" parameterType="Map" resultType="com.ruoyi.project.system.biScopeWorkerData.vo.BiScopeWorkerDataVO">
        select  tid, id, user_id userId, username, number, mobile, owner_id ownerId, project_section_id projectSectionId, level_code levelCode, owner_type ownerType,
        real_status realStatus, real_date realDate, work_status workStatus, work_type_id workTypeId, work_type_name workTypeName, work_create_date workCreateDate,
         enter_train enterTrain, last_safety_date lastSafetyDate, safety_count safetyCount, safety_score safetyScore, technique_train techniqueTrain,
          entrance_card_id entranceCardId, project_group_id projectGroupId, op_status opStatus, op_type opType, created_time createdTime, created_by createdBy,
          updated_time updatedTime, updated_by updatedBy
        from bi_scope_worker_data where op_status=3 and updated_by=#{host} limit 100
    </select>
    
</mapper>