<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.biScopeComplaintLogAttach.mapper.BiScopeComplaintLogAttachMapper">
    
    <resultMap type="BiScopeComplaintLogAttach" id="BiScopeComplaintLogAttachResult">
        <result property="tid"    column="tid"    />
        <result property="id"    column="id"    />
        <result property="complaintLogId"    column="complaint_log_id"    />
        <result property="attachmentIds"    column="attachment_ids"    />
        <result property="opStatus"    column="op_status"    />
        <result property="opType"    column="op_type"    />
        <result property="createdTime"    column="created_time"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="updatedBy"    column="updated_by"    />
    </resultMap>
	
	<sql id="selectBiScopeComplaintLogAttachVo">
        select tid, id, complaint_log_id, attachment_ids, op_status, op_type, created_time, created_by, updated_time, updated_by from bi_scope_complaint_log_attach
    </sql>
	
    <select id="selectBiScopeComplaintLogAttachList" parameterType="BiScopeComplaintLogAttach" resultMap="BiScopeComplaintLogAttachResult">
        <include refid="selectBiScopeComplaintLogAttachVo"/>
        <where>  
            <if test="tid != null "> and tid = #{tid}</if>
             <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="complaintLogId != null  and complaintLogId != '' "> and complaint_log_id = #{complaintLogId}</if>
             <if test="attachmentIds != null  and attachmentIds != '' "> and attachment_ids = #{attachmentIds}</if>
             <if test="opStatus != null  and opStatus != '' "> and op_status = #{opStatus}</if>
             <if test="opType != null  and opType != '' "> and op_type = #{opType}</if>
             <if test="createdTime != null "> and created_time = #{createdTime}</if>
             <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
             <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
             <if test="updatedBy != null  and updatedBy != '' "> and updated_by = #{updatedBy}</if>
         </where>
    </select>
    
    <select id="selectBiScopeComplaintLogAttachById" parameterType="Integer" resultMap="BiScopeComplaintLogAttachResult">
        <include refid="selectBiScopeComplaintLogAttachVo"/>
        where tid = #{tid}
    </select>
        
    <insert id="insertBiScopeComplaintLogAttach" parameterType="BiScopeComplaintLogAttach" useGeneratedKeys="true" keyProperty="tid">
        insert into bi_scope_complaint_log_attach
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="complaintLogId != null  and complaintLogId != ''  ">complaint_log_id,</if>
			<if test="attachmentIds != null  and attachmentIds != ''  ">attachment_ids,</if>
			<if test="opStatus != null  and opStatus != ''  ">op_status,</if>
			<if test="opType != null  and opType != ''  ">op_type,</if>
			<if test="createdTime != null  ">created_time,</if>
			<if test="createdBy != null  and createdBy != ''  ">created_by,</if>
			<if test="updatedTime != null  ">updated_time,</if>
			<if test="updatedBy != null  and updatedBy != ''  ">updated_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="complaintLogId != null  and complaintLogId != ''  ">#{complaintLogId},</if>
			<if test="attachmentIds != null  and attachmentIds != ''  ">#{attachmentIds},</if>
			<if test="opStatus != null  and opStatus != ''  ">#{opStatus},</if>
			<if test="opType != null  and opType != ''  ">#{opType},</if>
			<if test="createdTime != null  ">#{createdTime},</if>
			<if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
			<if test="updatedTime != null  ">#{updatedTime},</if>
			<if test="updatedBy != null  and updatedBy != ''  ">#{updatedBy},</if>
         </trim>
    </insert>
	 
    <update id="updateBiScopeComplaintLogAttach" parameterType="BiScopeComplaintLogAttach">
        update bi_scope_complaint_log_attach
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id = #{id},</if>
            <if test="complaintLogId != null  and complaintLogId != ''  ">complaint_log_id = #{complaintLogId},</if>
            <if test="attachmentIds != null  and attachmentIds != ''  ">attachment_ids = #{attachmentIds},</if>
            <if test="opStatus != null  and opStatus != ''  ">op_status = #{opStatus},</if>
            <if test="opType != null  and opType != ''  ">op_type = #{opType},</if>
            <if test="createdTime != null  ">created_time = #{createdTime},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="updatedTime != null  ">updated_time = #{updatedTime},</if>
            <if test="updatedBy != null  and updatedBy != ''  ">updated_by = #{updatedBy},</if>
        </trim>
        where tid = #{tid}
    </update>

	<delete id="deleteBiScopeComplaintLogAttachById" parameterType="Integer">
        delete from bi_scope_complaint_log_attach where tid = #{tid}
    </delete>
	
    <delete id="deleteBiScopeComplaintLogAttachByIds" parameterType="String">
        delete from bi_scope_complaint_log_attach where tid in 
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>


    <update id="updateBiScopeComplaintLogAttachReadyToDeal" parameterType="Map">
        update bi_scope_complaint_log_attach set op_status=3,updated_by=#{host},updated_time=now() where op_status=1 limit 100
    </update>



    <update id="updateBiScopeComplaintLogAttachToFailed" parameterType="Map">
        update bi_scope_complaint_log_attach set op_status=9,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>

    <update id="updateBiScopeComplaintLogAttachToComplate" parameterType="Map">
        update bi_scope_complaint_log_attach set op_status=2,updated_by=#{host},updated_time=now() where tid=#{tid}
    </update>


    <select id="selectBiScopeComplaintLogAttachReadToDeal" parameterType="Map" resultType="com.ruoyi.project.system.biScopeComplaintLogAttach.vo.BiScopeComplaintLogAttachVO">
        select tid, id, complaint_log_id complaintLogId, attachment_ids attachmentIds,
        op_status opStatus, op_type opType, created_time createdTime, created_by createdBy, updated_time updatedTime, updated_by updatedBy
        from bi_scope_complaint_log_attach where op_status=3 and updated_by=#{host} limit 100
    </select>
    
</mapper>