<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-biIndexScope-edit" th:object="${biIndexScope}">
            <input id="isId" name="isId" th:field="*{isId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">指标编号：</label>
				<div class="col-sm-8">
					<input id="indexNo" name="indexNo" th:field="*{indexNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">排序号：</label>
				<div class="col-sm-8">
					<input id="orderNum" name="orderNum" th:field="*{orderNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关联方式：</label>
				<div class="col-sm-8">
					<input id="relatedMethod" name="relatedMethod" th:field="*{relatedMethod}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关联范围：</label>
				<div class="col-sm-8">
					<input id="scopeName" name="scopeName" th:field="*{scopeName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关联范围属性：</label>
				<div class="col-sm-8">
					<input id="propertyName" name="propertyName" th:field="*{propertyName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">属性计算方式：</label>
				<div class="col-sm-8">
					<input id="compareMethod" name="compareMethod" th:field="*{compareMethod}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">比较值1：</label>
				<div class="col-sm-8">
					<input id="compareValue" name="compareValue" th:field="*{compareValue}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">比较值2：</label>
				<div class="col-sm-8">
					<input id="compareValueTo" name="compareValueTo" th:field="*{compareValueTo}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/biIndexScope";
		$("#form-biIndexScope-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-biIndexScope-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
