<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-biScopeSafeEvent-edit" th:object="${biScopeSafeEvent}">
            <input id="tid" name="tid" th:field="*{tid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">事件ID：</label>
				<div class="col-sm-8">
					<input id="id" name="id" th:field="*{id}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">事件名称：</label>
				<div class="col-sm-8">
					<input id="eventName" name="eventName" th:field="*{eventName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">事件日期：</label>
				<div class="col-sm-8">
					<input id="eventCreatedDate" name="eventCreatedDate" th:field="*{eventCreatedDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内容：</label>
				<div class="col-sm-8">
					<input id="content" name="content" th:field="*{content}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">人员组织ID：</label>
				<div class="col-sm-8">
					<input id="checkerId" name="checkerId" th:field="*{checkerId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户ID：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" th:field="*{userId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">事件子类：</label>
				<div class="col-sm-8">
					<input id="itemId" name="itemId" th:field="*{itemId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">层级编码：</label>
				<div class="col-sm-8">
					<input id="levelCode" name="levelCode" th:field="*{levelCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">标段ID：</label>
				<div class="col-sm-8">
					<input id="projectUnitId" name="projectUnitId" th:field="*{projectUnitId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">事件类型：</label>
				<div class="col-sm-8">
					<input id="type" name="type" th:field="*{type}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否紧急：</label>
				<div class="col-sm-8">
					<input id="critical" name="critical" th:field="*{critical}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作状态：</label>
				<div class="col-sm-8">
					<input id="opStatus" name="opStatus" th:field="*{opStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作类型：</label>
				<div class="col-sm-8">
					<input id="opType" name="opType" th:field="*{opType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdTime" name="createdTime" th:field="*{createdTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updatedTime" name="updatedTime" th:field="*{updatedTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新人：</label>
				<div class="col-sm-8">
					<input id="updatedBy" name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/biScopeSafeEvent";
		$("#form-biScopeSafeEvent-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-biScopeSafeEvent-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
