<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-biScopeWorkerData-edit" th:object="${biScopeWorkerData}">
            <input id="tid" name="tid" th:field="*{tid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">工人ID：</label>
				<div class="col-sm-8">
					<input id="id" name="id" th:field="*{id}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工人姓名：</label>
				<div class="col-sm-8">
					<input id="workerName" name="workerName" th:field="*{workerName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">班组ID：</label>
				<div class="col-sm-8">
					<input id="groupId" name="groupId" th:field="*{groupId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工种ID：</label>
				<div class="col-sm-8">
					<input id="workTypeId" name="workTypeId" th:field="*{workTypeId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工种名称：</label>
				<div class="col-sm-8">
					<input id="workTypeName" name="workTypeName" th:field="*{workTypeName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实名ID：</label>
				<div class="col-sm-8">
					<input id="realNameId" name="realNameId" th:field="*{realNameId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实名状态：</label>
				<div class="col-sm-8">
					<input id="realStatus" name="realStatus" th:field="*{realStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实名日期：</label>
				<div class="col-sm-8">
					<input id="realDate" name="realDate" th:field="*{realDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作状态：</label>
				<div class="col-sm-8">
					<input id="workStatus" name="workStatus" th:field="*{workStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入场三级：</label>
				<div class="col-sm-8">
					<input id="enterTrain" name="enterTrain" th:field="*{enterTrain}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">技术交底：</label>
				<div class="col-sm-8">
					<input id="techniqueTrain" name="techniqueTrain" th:field="*{techniqueTrain}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工卡编号：</label>
				<div class="col-sm-8">
					<input id="entranceCardId" name="entranceCardId" th:field="*{entranceCardId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后安全扣分日期：</label>
				<div class="col-sm-8">
					<input id="lastSafetyDate" name="lastSafetyDate" th:field="*{lastSafetyDate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">安全扣分次数：</label>
				<div class="col-sm-8">
					<input id="safetyCount" name="safetyCount" th:field="*{safetyCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">安全扣分总分：</label>
				<div class="col-sm-8">
					<input id="safetyScore" name="safetyScore" th:field="*{safetyScore}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作状态：</label>
				<div class="col-sm-8">
					<input id="opStatus" name="opStatus" th:field="*{opStatus}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作类型：</label>
				<div class="col-sm-8">
					<input id="opType" name="opType" th:field="*{opType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createdTime" name="createdTime" th:field="*{createdTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-8">
					<input id="createdBy" name="createdBy" th:field="*{createdBy}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新时间：</label>
				<div class="col-sm-8">
					<input id="updatedTime" name="updatedTime" th:field="*{updatedTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更新人：</label>
				<div class="col-sm-8">
					<input id="updatedBy" name="updatedBy" th:field="*{updatedBy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/biScopeWorkerData";
		$("#form-biScopeWorkerData-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-biScopeWorkerData-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
